In [2]:
print ("Hello World")

Hello World

# Header1
## Header2 
### Header3
#### Header4

**Bold**
*Italic*
a blank line is a graph

This is a new line

[this is youtube] (https://www.youtube.com/)

In [15]:
link = "https://www.youtube.com/"

[YouTube](https://www.youtube.com/) - This is a YouTube link

[YouTube](https://www.youtube.com/)

![this image won't render](https://wallpapers.com/images/high/beautiful-amazing-nv66eyiniq5gowsy.webp)

In [19]:
whole_number = 4

In [22]:
print (whole_number)

4

In [23]:
a = 10
b = 20
a
b

20

In [24]:
a = 10
b = 20
print(a)
b

10

20

In [25]:
class(a)

SyntaxError: invalid syntax (3950847182.py, line 1)

In [26]:
type(a)

int

In [27]:
a = 2.45

In [28]:
type(a)

float

In [30]:
b = 10.3

In [31]:
# type(b)

In [32]:
a = 89
b = 20.8
c = 40.21

In [33]:
a + b + c

150.01

In [34]:
a / b + 10

14.278846153846153

In [35]:
# division
a / b / c

0.10641248828266982

In [36]:
type(division)

NameError: name 'division' is not defined

In [37]:
a / b / c

0.10641248828266982

In [39]:
may = a // b // c

In [40]:
type(may)

float

In [47]:
list_ = [10, 30, 89, 76, 47, 88]

for i in list_:
    if i % 2 == 0:
        print("fElnumero {i} es par")
    else:
        print("fElnumero{i} no es par")

fElnumero {i} es par
fElnumero {i} es par
fElnumero{i} no es par
fElnumero {i} es par
fElnumero{i} no es par
fElnumero {i} es par

In [51]:
list_ = [10, 30, 89, 76, 47, 88]
Q = 0
for i in list_:
    Q = Q + i
print(Q)

340

In [61]:
aprday = [38, 67, 60, 53]
for i in aprday:
    if i % 3 ==0:
        print(f" {i} is divided by 3")
    else:
        print(f" {i} couldn't be divided by 3")

 38 couldn't be divided by 3
 67 couldn't be divided by 3
 60 is divided by 3
 53 couldn't be divided by 3

In [58]:
list_ = [1, 2, 3, 4, 5, 6]

for i in list_:
    if i % 2 == 0:
        print(f"El numero {i} es par")
    else:
        print(f"El numero {i} NO es par")

El numero 1 NO es par
El numero 2 es par
El numero 3 NO es par
El numero 4 es par
El numero 5 NO es par
El numero 6 es par

In [65]:
"John is my firend".upper()

'JOHN IS MY FIREND'

In [66]:
import math

In [67]:
math.floor(3.141592654)

3

In [69]:
round(3.141592654)

3

In [70]:
"This is a string"

'This is a string'

In [71]:
'This is a string'

'This is a string'

In [72]:
"This is a string with simple quotes" #End Of Line

'This is a string with simple quotes'

In [75]:
elisa = "4"
this_is_also_a_string

'4'

In [76]:
print(elisa)

4

In [85]:
ekiusa = "4"

In [79]:
print(ekiusa)

4

In [80]:
type(elisa)

str

In [86]:
type(ekiusa)

str

In [87]:
this_is_also_a_string = "4"
this_is_also_a_string

'4'

In [105]:
a = 40

In [88]:
type(this_is_also_a_string)

str

In [94]:
"""
this is a string 
with multiple lines"""

'\nthis is a string \nwith multiple lines'

In [95]:
"""
This is a string
with multiple liness"""

'\nThis is a string\nwith multiple liness'

In [96]:
Love = "ðŸ‘½"

In [98]:
print(Love)

ðŸ‘½

In [107]:
a = 3.1415926
print(type(a))

<class 'float'>

In [100]:
a = str(a)

In [101]:
print(type(a))

<class 'str'>

In [102]:
x = str(23345
    )

In [103]:
print(type(x))

<class 'str'>

In [108]:
print(a)

3.1415926

In [110]:
age = 28

In [113]:
Message = "My age is" + age

TypeError: can only concatenate str (not "int") to str

In [ ]:
age = str(age)

In [140]:
Message = "my age is, " , age

In [ ]:
print(Message)

In [ ]:
salutation = input("hola mi amor")

In [ ]:
salutation = input(prompt = "thi is a prompt")

In [ ]:
input(prompt="this is a prompt")

In [ ]:
this is a prompt

In [ ]:
this is a prompt

In [1]:
a=a
print(a)

NameError: name 'a' is not defined

In [2]:
salutation = print(prompt = "this is a prompt")

TypeError: 'prompt' is an invalid keyword argument for print()

In [3]:
salutation = input(prompt = "This is a prompt")

This is a prompthsihifdw

In [ ]:
name = input("Write here your name: ")

In [1]:
name = input("write your name:")

write your name:John

In [2]:
print(name)

John

In [3]:
number = input("your age")

your age10

In [6]:
type(number)

str

In [7]:
number * 10

'10101010101010101010'

In [8]:
number / 2

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [9]:
number * 10

'10101010101010101010'

In [11]:
int(number / 2)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [12]:
number = int(input("your age"))

your age9

In [13]:
int(number / 2)

4

In [15]:
number / 2

4.5

In [1]:
greeting = "hello"

In [2]:
type(greeting)

str

In [4]:
type(print(greeting))

hello

NoneType

In [6]:
name = "Jose"
Age = 38

In [20]:
introduction = "Hello my name is " + name + " my age is " + str(Age)

In [21]:
print(introduction)

Hello my name is Jose my age is 38

In [23]:
intro = "hello world, my name is ", name, " and my age is ", str(Age)

In [24]:
print(intro)

('hello world, my name is ', 'Jose', ' and my age is ', '38')

In [26]:
greeting = "Hello my name is ", name, " and my age is ", str(Age)

In [27]:
print(greeting)

('Hello my name is ', 'Jose', ' and my age is ', '38')

In [28]:
type(greeting)

tuple

In [31]:
greeting = f"Hello my name is {name}, and my age is {Age}"

In [33]:
print(greeting)

Hello my name is Jose, and my age is 38

In [34]:
salutation = "hello my name is {}, and my age is {}" .format(name, Age)

In [36]:
print(salutation)

hello my name is Jose, and my age is 38

In [37]:
string = "this is a string"

In [38]:
string.capitalize()

'This is a string'

In [39]:
string.upper().isupper()

True

In [40]:
string.lower().islower()

True

In [41]:
string.upper().islower()

False

In [43]:
string.title()

'This Is A String'

In [45]:
name_list = ["Jose", "Elisa", "Centeno", "Huang"]
"HUANG".join(name_list)

'JoseHUANGElisaHUANGCentenoHUANGHuang'

In [46]:
number = "67584"

In [47]:
number.startswith("67")

True

In [48]:
number.startswith("+")

False

In [51]:
number.endswith("84")

True

In [55]:
string = "     +_# summer is +_comming"

In [56]:
new_string = string.lstrip()

In [57]:
print(new_string)

+_# summer is +_comming

In [58]:
string2 = string.lstrip("+")

In [59]:
print(string2)

     +_# summer is +_comming

In [85]:
string3 = string.lstrip(  " +_#")

In [86]:
print(string3)

summer is +_comming

In [95]:
frase = "today# is my day %$#.  "

In [96]:
frase1 = frase.rstrip("#")

In [97]:
print(frase1)

today# is my day %$#.

In [98]:
frase.replace("#", ")")

'today) is my day %$).  '

In [99]:
sentence = "Hello my name is Elisa"

In [105]:
sentence.split("m")

['Hello ', 'y na', 'e is Elisa']

In [106]:
string = "this is a string"

In [107]:
string.split("a")

['this is ', ' string']

In [109]:
list_ = ["my", "yours", "his", "hers"]

In [111]:
mix = ["how", 3.1, "this is mine", True]

In [112]:
nest = [["dad", "mum", "kids"], [1.4, 3.8, "sister"]]

In [115]:
list_[0]

'my'

In [116]:
mix[-1]

True

In [118]:
nest[1]

[1.4, 3.8, 'sister']

In [119]:
len(mix)

4

In [120]:
nest[1][2]

'sister'

In [123]:
mix[-3]

3.1

In [124]:
len(nest)

2

In [125]:
len(list_)

4

In [7]:
listA = [1]

In [8]:
listA.append("happy hour")

In [9]:
print(listA)

[1, 'happy hour']

In [10]:
listA.extend(2,"this is a laptop")

TypeError: list.extend() takes exactly one argument (2 given)

In [11]:
listb = [90,"this year"]

In [12]:
listb.extend(listA)

In [13]:
print(listb)

[90, 'this year', 1, 'happy hour']

In [14]:
listA.extend(listb)

In [15]:
print(listA)

[1, 'happy hour', 90, 'this year', 1, 'happy hour']

In [16]:
listc = ["to add something", "where"]

In [17]:
listc.insert(1, "watermeon")

In [18]:
print(listc)

['to add something', 'watermeon', 'where']

In [19]:
list0 = [1, 2, 3]
list0.insert(1, 'B')
print(list0)

[1, 'B', 2, 3]

In [22]:
print(listA)

[1, 'happy hour', 90, 'this year', 1, 'happy hour']

In [25]:
listA.remove(1)

In [26]:
print(listA)

['happy hour', 90, 'this year', 1, 'happy hour']

In [27]:
list0 = [1, 2, 3]
list0.pop(1)
print(list0)

[1, 3]

In [28]:
list0 = [1, 2, 3]
list0.clear()
print(list0)

[]

In [30]:
print(listc)

['to add something', 'watermeon', 'where']

In [32]:
listc.index("where")

2

In [33]:
print(listc.index("where"))

2

In [34]:
print(listb)

[90, 'this year', 1, 'happy hour']

In [35]:
listb.count(1)

1

In [36]:
listb.extend(listc)

In [37]:
print(listb)

[90, 'this year', 1, 'happy hour', 'to add something', 'watermeon', 'where']

In [38]:
listb.count(90)

1

In [39]:
listb.count("happy hour")

1

In [40]:
print(list0)

[]

In [41]:
list0 = [58734020, 8943022, 56903]

In [43]:
print(list0.sort())

None

In [44]:
list0.sort()

In [45]:
print(list0)

[56903, 8943022, 58734020]

In [49]:
listc.reverse()

In [50]:
print(listc)

['where', 'watermeon', 'to add something']

In [63]:
list3 = ["apple", "Banana", "Cat", "DOG", "Elisa", "fEDERAL", "Giraffe"]

In [64]:
list3.sort()

In [65]:
print(list3)

['Banana', 'Cat', 'DOG', 'Elisa', 'Giraffe', 'apple', 'fEDERAL']

In [66]:
list3.reverse()

In [67]:
print(list3)

['fEDERAL', 'apple', 'Giraffe', 'Elisa', 'DOG', 'Cat', 'Banana']

In [68]:
list1 = [1, 2, 3]
list2 = list1.copy()
print(list2)

[1, 2, 3]

In [69]:
print(listA)

['happy hour', 90, 'this year', 1, 'happy hour']

In [71]:
print(listb)

[90, 'this year', 1, 'happy hour', 'to add something', 'watermeon', 'where']

In [75]:
listd = [listA, listb]

In [76]:
print(listd)

[['happy hour', 90, 'this year', 1, 'happy hour'], [90, 'this year', 1, 'happy hour', 'to add something', 'watermeon', 'where']]

In [74]:
list1 = [1, 2, 3]
list2 = list1.copy()
print(list2)

[1, 2, 3]

In [88]:
names = ["Ana", "Beto", "Carla", "David", "Elena", "Fernando"]

In [79]:
print(names[2:])

['Carla', 'David', 'Elena', 'Fernando']

In [80]:
print(listb)

[90, 'this year', 1, 'happy hour', 'to add something', 'watermeon', 'where']

In [81]:
print(listb[3:])

['happy hour', 'to add something', 'watermeon', 'where']

In [89]:
print(names[:-1])

['Ana', 'Beto', 'Carla', 'David', 'Elena']

In [84]:
names.reverse()

In [86]:
print(names)

['Fernando', 'Elena', 'David', 'Carla', 'Beto', 'Ana']

In [90]:
Today = ["this is a line", "this is an order", "Tuesday is tomorrow", "make a wish", "here is the rule", "who sets the rule"]

In [95]:
print(Today[2:5:2])

['Tuesday is tomorrow', 'here is the rule']

In [92]:
number_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [97]:
print(number_list[0:-8:2])

[0, 2]

In [101]:
months = ["jan", "feb", "mar", "apr", "may", "jun", "jul", "aug", "sep", "oct", "nov", "dec"]

In [102]:
months.append("end of the year")

In [104]:
months.remove("end of the year")

In [105]:
print(months)

['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct', 'nov', 'dec']

In [106]:
months.reverse()

In [107]:
print(months)

['dec', 'nov', 'oct', 'sep', 'aug', 'jul', 'jun', 'may', 'apr', 'mar', 'feb', 'jan']

In [109]:
print(months[6:9])

['jun', 'may', 'apr']

In [111]:
months.reverse()

In [112]:
print(months)

['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct', 'nov', 'dec']

In [113]:
months.sort()

In [114]:
print(months)

['apr', 'aug', 'dec', 'feb', 'jan', 'jul', 'jun', 'mar', 'may', 'nov', 'oct', 'sep']

In [117]:
months.index("jun")

6

In [118]:
months = ["jan", "feb", "mar", "apr", "may", "jun", "jul", "aug", "sep", "oct", "nov", "dec"]

In [119]:
quaters = [months[0:3]], [months[3:6]],[months[6:9]], [months[9:]]

In [120]:
print(quaters)

([['jan', 'feb', 'mar']], [['apr', 'may', 'jun']], [['jul', 'aug', 'sep']], [['oct', 'nov', 'dec']])

In [121]:
a, b, c, d, e = my_tuple

NameError: name 'my_tuple' is not defined

In [122]:
my_tuple = ("great wall", 2, True, "fine")

In [123]:
my_tuple.count(2)

1

In [124]:
print(my_tuple)

('great wall', 2, True, 'fine')

In [126]:
my_tuple[1]

2

In [127]:
try:
    my_tuple[1] = 10
except TypeError as e:
    print(f"Error: {e}")

Error: 'tuple' object does not support item assignment

In [128]:
print(my_tuple)

('great wall', 2, True, 'fine')

In [129]:
my_tuple.index(2)

1

In [131]:
index = my_tuple.index(2)

In [132]:
print(f"the index of the first element equals to 2 is {index}")

the index of the first element equals to 2 is 1

In [133]:
quantity = my_tuple.count("fine")

In [135]:
print(f"the number of in my_tuple is {quantity}")

the number of in my_tuple is 1

In [136]:
length = len(my_tuple)

In [138]:
print(length)

4

In [140]:
print(f"the length of the tuple is {length}")

the length of the tuple is 4

In [141]:
print(my_tuple)

('great wall', 2, True, 'fine')

In [143]:
if "great wall" in my_tuple:
    print("great wall is in my_tuple")
else:
    print("great wall is not in my_tuple")

great wall is in my_tuple

In [144]:
element = my_tuple[3]

In [145]:
print(f"{element} is the third item")

fine is the third item

In [146]:
reversed_tuple = tuple(reversed(my_tuple))
print(f"Reversed tuple: {reversed_tuple}")

Reversed tuple: ('fine', True, 2, 'great wall')

In [147]:
my_set = {1, 3, 5, 7, 9}

In [148]:
print(my_set)

{1, 3, 5, 7, 9}

In [149]:
set1 = set()

In [150]:
mi_lista = [1, 2, 2, 3, 4, 4]

In [152]:
my_set1 = set(mi_lista)

In [153]:
print(my_set1)

{1, 2, 3, 4}

In [154]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

In [155]:
union = set1 | set2

In [156]:
print(union)

{1, 2, 3, 4, 5, 6, 7}

In [161]:
difference = set2 - set1

In [162]:
print(difference)

{6, 7}

In [163]:
intersection = set1 & set2

In [167]:
print(intersection)

{3, 4, 5}

In [174]:
mi_set = {1, 2, 3}
mi_set.add(100)
print(mi_set)

{1, 2, 3, 100}

In [175]:
mi_set.remove(100)

In [176]:
print(mi_set)

{1, 2, 3}

In [180]:
mi_set.add(20)

In [181]:
mi_set.discard(3)

In [182]:
print(mi_set)

{1, 2, 20}

In [183]:
mi_set.discard(60)

In [185]:
mi_set.pop()

1

In [186]:
print(mi_set)

{2, 20}

In [188]:
mi_set.pop(1)

TypeError: set.pop() takes no arguments (1 given)

In [190]:
set1 = {1, 2, 3, 4, 5, 6}
set2 = {4, 5, 6}
set3 = {4, 5, 6, 7, 8, 9,}

In [191]:
union = set1.union(set2).union(set3)

In [192]:
print(union)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [193]:
intersection  = set1.intersection(set2).intersection(set3)

In [194]:
print(intersection)

{4, 5, 6}

In [195]:
differenct = set1 - set2

In [196]:
print(differenct)

{1, 2, 3}

In [197]:
difference1 = set3 - set2 - set1

In [198]:
print(difference1)

{8, 9, 7}

In [199]:
set2.issubset(set1)

True

In [200]:
set2.issuperset(set3)

False

In [204]:
dictionary = {"name": "Jose", "age": 39, "place of birth": "Shanghai" ,  "language": "Spanish"}

In [205]:
print(dictionary["name"])

Jose

In [206]:
dictionary["age"]

39

In [209]:
dictionary["graduation"] = 2020

In [210]:
print(dictionary)

{'name': 'Jose', 'age': 39, 'place of birth': 'Shanghai', 'language': 'Spanish', 'graduation': 2020}

In [211]:
del dictionary["name"]

In [212]:
print(dictionary)

{'age': 39, 'place of birth': 'Shanghai', 'language': 'Spanish', 'graduation': 2020}

In [213]:
dictionary.get("age")

39

In [216]:
dictionary.keys()

dict_keys(['age', 'place of birth', 'language', 'graduation'])

In [218]:
dictionary.items()

dict_items([('age', 39), ('place of birth', 'Shanghai'), ('language', 'Spanish'), ('graduation', 2020)])

In [219]:
dictionary.values()

dict_values([39, 'Shanghai', 'Spanish', 2020])

In [220]:
dictionary.update({"age": 20})

In [222]:
dictionary.update({"DOB": 1992})

In [223]:
print(dictionary)

{'age': 20, 'place of birth': 'Shanghai', 'language': 'Spanish', 'graduation': 2020, 'DOB': 1992}

In [224]:
dictionary.update({"place of birth": "Caracas"})

In [225]:
print(dictionary)

{'age': 20, 'place of birth': 'Caracas', 'language': 'Spanish', 'graduation': 2020, 'DOB': 1992}